Django
pytesseract==0.3.7
numpy
opencv-python
easydict
tensorflow==2.9.1
selenium==3.141.0
pymongo
pandas
imutils
easyocr==1.7.0
gdown
dnspython
pymongo[srv]
cdifflib
Pillow==9.5.0
urllib3>=1.26.15,<2