{% extends 'base-home.html' %}
{% load static %}
{% block content %}
            <div class="form">
               <form  method="POST" enctype="multipart/form-data">
                   <label class="col-md-003" >Select Vehicle Category</label>
                   <select name="name_category" class="slect_">
                       <option  selected="selected" disabled>Choose here</option>
                       <option value="Motor Car">Motor Car</option>
                       <option value="Van">Van</option>
                        <option value="SUV">SUV</option>
                        <option value="Motor Bike">Motor Bike</option>
                   </select>
                   <label class="col-md-003" >Select Vehicle Make</label>
                   <input type="text" name="quantity">
                   <input type="submit" value="Save!">
               </form>
            </div>
{% endblock %}
