{% extends 'base-home.html' %}
{% load static %}

        {% block content %}
        <!-- <div class="content"> -->
            {% if result_status is None %}
            <div class="form">
                <h3>Import All Images Here:</h3>
                
                <form method="POST" enctype="multipart/form-data" id="import-img-form">
                    {% csrf_token %}
                    <div class="form-box">
                        <div>
                            <label for="fname">Front Side Image:</label>
                            <input type="file" name="imageFile_FrontImage">
                        </div>
                        
                        <div>
                            <label for="fname">Back Side Image:</label>
                            <input type="file" name="imageFile_BackImage">
                        </div>
                    </div>
                    <div class="form-box">
                        <div>
                            <label for="fname">CR Book Scanned Image:</label>
                            <input type="file" name="imageFile_CRBookImage">
                        </div>
                        <input type="text" name="status" value="Initial" style="display: none;">
                        <input type="text" name="result_status"  style="display: none;">

                        <input type="button" value="Submit" id="import-submit">
                        
                    </div>


                    
                </form>
            </div>
            {% endif %}
            {% if result_status is not None %}
            <div class="form" id="dmt-form">
                <h3>Verification</h3>
                <form method="POST" id="verification-form" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-box-dmt">
                            <label for="fname">Vehicle Number: </label>
                            <label for="fname" style="margin: 0 10px;">{{theBestNumberPlate}}</label>
                            <input type="text" name="theBestNumberPlate" value="{{theBestNumberPlate}}" style="display: none;">
                            <input type="text" name="fileUrl_FrontImage" value="{{fileUrl_FrontImage}}" style="display: none;">
                            <input type="text" name="fileUrl_BackImage" value="{{fileUrl_BackImage}}" style="display: none;">
                            <input type="text" name="fileUrl_CRBookImage" value="{{fileUrl_CRBookImage}}" style="display: none;">
                            <input type="text" name="ownership_CRBookImage" value="{{ownership_CRBookImage}}" style="display: none;">
                            <input type="text" name="engine_number_CRBookImage" value="{{engine_number_CRBookImage}}" style="display: none;">
                            <input type="text" name="chassis_number_CRBookImage" value="{{chassis_number_CRBookImage}}" style="display: none;">
                            <input type="text" name="vehicle_class_CRBookImage" value="{{vehicle_class_CRBookImage}}" style="display: none;">
                            <input type="text" name="model_CRBookImage" value="{{model_CRBookImage}}" style="display: none;">
                            <input type="text" name="make_CRBookImage" value="{{make_CRBookImage}}" style="display: none;">
                            <input type="text" name="year_no_CRBookImage" value="{{year_no_CRBookImage}}" style="display: none;">

                            {% if result_status == "DMT verified" %}
                            <input type="text" name="Report_Date" value="{{Report_Date}}" style="display: none;">
                            <input type="text" name="ownership" value="{{ownership}}" style="display: none;">
                            <input type="text" name="EngineNumber" value="{{EngineNumber}}" style="display: none;">
                            <input type="text" name="VehicleClass" value="{{VehicleClass}}" style="display: none;">
                            <input type="text" name="ConditionsNotes" value="{{ConditionsNotes}}" style="display: none;">
                            <input type="text" name="Make" value="{{Make}}" style="display: none;">
                            <input type="text" name="Model" value="{{Model}}" style="display: none;">
                            <input type="text" name="ManufacturedYear" value="{{ManufacturedYear}}" style="display: none;">
                            {% endif %}



                            <input type="text" name="status" value="Valuation" style="display: none;">
                            <input type="text" name="result_status" value="{{result_status}}" style="display: none;">
                    </div>
                    <div class="form-box-dmt" style="gap: 20px;">
                        <input type="button" id="DMT-submit" value="Verify with DMT" data-bs-toggle="tooltip" data-bs-placement="top"
                        data-bs-custom-class="custom-tooltip"  data-bs-title="This might take few minutes to complete. The results depends on the availability of DMT system">
                        <input type="button" id="Valuation" value="Process Valuation" data-bs-toggle="modal" data-bs-target="#valuation-conf-modal">
                        <input type="button" value="Try another vehicle" style="background-color: darkgray;" id="tryAnother" >
                    </div>                  
                </form>
            </div>
            {% endif %}

           
            <!-- <h1>{{alert_type}}</h1> -->
            <div class="output">
                
                <div class="{{alert_type}}">
                    <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
                    {{alert_msg}}
                </div>
                {% if result_status is not None %}
                <div class="results">
                    <!-- For Rule-Base results-->
                    {% if result_status == 'Valuation processed' or result_status == 'Valuation processed with DMT' %}
                    <div class="rows">

                        <div class="column" style="width: 80%;">
                            <div class="card" style="width: 60%; padding: 20px 40px;">
                                <h3>Vehical Valuation:  {{theBestNumberPlate}}</h3>
                                    
                                <br>

                                <p class="lorem_text"><b>Vehicle Class :</b>{{vehicle_class_CRBookImage}}</p> 
                                <p class="lorem_text"><b>Vehicle Make :</b>{{make_CRBookImage}}</p> 
                                <p class="lorem_text"><b>Vehicle Model :</b>{{model_CRBookImage}}</p> 
                                <p class="lorem_text"><b>Vehicle Year :</b>{{year_no_CRBookImage}}</p> <br>

                                <p class="lorem_text"><b>Vehicle valuation amount :</b>{{valuation_amount}}</p>
                                <p class="lorem_text"><b>Maximum amount :</b>{{Maximum_amount}}</p>
                                <p class="lorem_text"><b>Minimum amount :</b>{{Minimum_amount}}</p>
                                <p class="lorem_text"><b>Mod amount :</b>{{Mode_amount}}</p> <br>   
                            </div>
                        </div>
                        
                    </div>
                    {% endif %}

                    <!-- For DMT results-->
                    {% if result_status == 'DMT verified' %}
                    <div class="rows">


                        <div >
                            <div >
                                    <h3>Number plate verification through DMT website</h3>
                                    
                                    <br>
                                    <p class="lorem_text"><b>{{Report_Date}}</b></p>
                                    <!-- <p class="lorem_text"><b>{{VehicleRegistrationNumber}}</b></p> -->
                                    <p class="lorem_text"><b>Name of the absolute ownership/ mortgage if any    :</b>{{ownership}}</p>
                                    <p class="lorem_text"><b>Engine number                                      :</b>{{EngineNumber}}</p>
                                    <p class="lorem_text"><b>Vehicle class                                      :</b>{{VehicleClass}}</p>
                                    <p class="lorem_text"><b>Conditions and notes                               :</b>{{ConditionsNotes}}</p>
                                    <p class="lorem_text"><b>Make                                               :</b>{{Make}}</p>
                                    <p class="lorem_text"><b>Model                                              :</b>{{Model}}</p>
                                    <p class="lorem_text"><b>Year of manufacture                                :</b>{{ManufacturedYear}}</p>

                                <!-- <a href="autu_valuation.html?make={{Make}}">  <input type="button" value="Submit"></a> -->
                                
                            </div>
                        </div>
                        
                    </div>
                    {% endif %}

                    <!-- For front and back images -->
                    <div class="rows">

                        {% if fileUrl_FrontImage is not None %}
                        <div class="column">
                            <div class="card">
                                <div class="v-img">
                                    <img src="{{fileUrl_FrontImage}}" alt="Avatar" style="width:100%">
                                </div>
                                <div class="container">
                                    <h3><b>Front Side Image Readings:</b></h3>
                                    {% if license_no_FrontImage is not None %} 
                                    <p class="lorem_text"><b>License no from front image: </b>{{license_no_FrontImage }}</p>
                                    {% else %}
                                    <p class="lorem_text"><b>License no from front image: </b>{{theBestNumberPlate}}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}

                        {% if fileUrl_BackImage is not None %}
                        <div class="column">
                            <div class="card">
                                <div class="v-img">
                                    <img src="{{fileUrl_BackImage}}" alt="Avatar" style="width:100%">
                                </div>
                                <div class="container">
                                    <h3><b>Back Side Image Readings:</b></h3> 
                                    {% if license_no_FrontImage is not None %} 
                                    <p class="lorem_text"><b>License no from back image: </b>{{license_no_BackImage }}</p>
                                    {% else %}
                                    <p class="lorem_text"><b>License no from back image: </b>{{theBestNumberPlate}}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                        {% endif %}                                    

                    </div>


                    <!-- For CR Book image-->
                    <div class="rows">

                        {% if fileUrl_CRBookImage is not None %}
                        <div class="column">
                            <div class="card" style=" width: fit-content;">
                                <img src="{{fileUrl_CRBookImage}}" alt="Avatar" style="width: 440px; width: 500px;">
                            </div>
                        </div>

                        <div >
                            <div style="padding: 10px;">
                                    <h3><b>CR Book Scanned Image Readings:</b></h3> 
                                    <br>
                                    {% if VehicleRegistrationNumber_BackImage is not None %}
                                    <p class="lorem_text"><b>Vehicle registration number                        :</b>{{VehicleRegistrationNumber_BackImage}}</p>
                                    {% else %}
                                    <p class="lorem_text"><b>Vehicle registration number                        :</b>{{theBestNumberPlate}}</p>
                                    {% endif %}
                                    <p class="lorem_text"><b>Name of the absolute ownership/ mortgage if any    :</b>{{ownership_CRBookImage}}</p>
                                    <p class="lorem_text"><b>Engine number                                      :</b>{{engine_number_CRBookImage}}</p>
                                    <p class="lorem_text"><b>Vehicle class                                      :</b>{{vehicle_class_CRBookImage}}</p>
                                    <p class="lorem_text"><b>Chassis number                                     :</b>{{chassis_number_CRBookImage}}</p>

                            </div>
                        </div>

                        
                        {% endif %}               
                        

                    </div>


                    


                    
                    
                </div>
                {% endif %}
                

            </div>
        <!-- </div> -->

        <div class="modal fade" id="valuation-conf-modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="staticBackdropLabel">Valuation Confirmation</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <div class="form" id="dmt-form">
                        <form method="POST" id="valuation-form" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="form-box-valuation">
                                    <label for="fname">Vehicle Class: </label>
                                    <input type="text" name="vehicle_class_CRBookImage" value="{{vehicle_class_CRBookImage}}" >
                                    <label for="fname">Vehicle Make (Ex: Toyota, Suzuki) : </label>
                                    <input type="text" name="make_CRBookImage" value="{{make_CRBookImage}}" >
                                    <label for="fname">Vehicle Model (Ex: Corolla, Wagon R) : </label>
                                    <input type="text" name="model_CRBookImage" value="{{model_CRBookImage}}" >
                                    <label for="fname">Vehicle Year: </label>
                                    <input type="text" name="year_no_CRBookImage" value="{{year_no_CRBookImage}}" >

                                    <input type="text" name="theBestNumberPlate" value="{{theBestNumberPlate}}" style="display: none;">
                                    <input type="text" name="fileUrl_FrontImage" value="{{fileUrl_FrontImage}}" style="display: none;">
                                    <input type="text" name="fileUrl_BackImage" value="{{fileUrl_BackImage}}" style="display: none;">
                                    <input type="text" name="fileUrl_CRBookImage" value="{{fileUrl_CRBookImage}}" style="display: none;">
                                    <input type="text" name="ownership_CRBookImage" value="{{ownership_CRBookImage}}" style="display: none;">
                                    <input type="text" name="engine_number_CRBookImage" value="{{engine_number_CRBookImage}}" style="display: none;">
                                    <input type="text" name="chassis_number_CRBookImage" value="{{chassis_number_CRBookImage}}" style="display: none;">

                                    {% if result_status == "DMT verified" %}
                                        <input type="text" name="Report_Date" value="{{Report_Date}}" style="display: none;">
                                        <input type="text" name="ownership" value="{{ownership}}" style="display: none;">
                                        <input type="text" name="EngineNumber" value="{{EngineNumber}}" style="display: none;">
                                        <input type="text" name="VehicleClass" value="{{VehicleClass}}" style="display: none;">
                                        <input type="text" name="ConditionsNotes" value="{{ConditionsNotes}}" style="display: none;">
                                        <input type="text" name="Make" value="{{Make}}" style="display: none;">
                                        <input type="text" name="Model" value="{{Model}}" style="display: none;">
                                        <input type="text" name="ManufacturedYear" value="{{ManufacturedYear}}" style="display: none;">
                                    {% endif %}

                                    <input type="text" name="status" value="Valuation" style="display: none;">
                                    <input type="text" name="result_status" value="{{result_status}}" style="display: none;">
                            </div>                
                        </form>
                    </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn-val" data-bs-dismiss="modal" style="background-color: darkgray;">Close</button>
                  <button type="button" class="btn-val" id="Valuation-submit">Proceed</button>
                </div>
              </div>
            </div>
          </div>

        {% endblock %}

        {% block scpt %}    
        {% if result_status is None %}
        <script>
 
            document.getElementById("import-submit").addEventListener("click", function (){
                
                showLoader();
                var form = document.getElementById("import-img-form");

                form.submit();
                
            });

            
            function showLoader() {
                document.getElementById('spinner-container').style.display = 'flex';
            }
            function hideLoader() {
                document.getElementById('spinner-container').style.display = 'none';
            }

        </script>
        {% endif %} 
        {% if result_status is not None %}
        <script>


            document.getElementById("DMT-submit").addEventListener("click", function (){

                showLoader();
                var form = document.getElementById("verification-form");

                form.elements['status'].value = 'DMT inprogress';

                form.submit();
            });

            document.getElementById("Valuation-submit").addEventListener("click", function (){

                showLoader();
                var form = document.getElementById("valuation-form");

                form.elements['status'].value = 'Valuation';

                form.submit();
            });

            
            function showLoader() {
                document.getElementById('spinner-container').style.display = 'flex';
            }
            function hideLoader() {
                document.getElementById('spinner-container').style.display = 'none';
            }

        </script>
        {% endif %} 
    {% endblock %}